* {
    box-sizing: border-box;
}

body {
    background-color: #0c3102;
    background: url('./image/forest-bg.jpg') center / cover no-repeat;
}

.hide {
    display: none;
}

.car {
    width: 50px;
    height: 100px;
    background: transparent url('./image/player.png') center / cover no-repeat;
    position: absolute;
}

.enemy {
    width: 50px;
    height: 100px;
    position: absolute;
}

.game {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

.gameArea {
    width: 300px;
    height: 100%;
    position: relative;
    margin: auto;
    background: #222;
    overflow: hidden;
}

.line {
    position: absolute;
    width: 10px;
    background: #fff;
    left: 145px;
}

#top-score {
    position: fixed;
    bottom: 50%;
    /*width: 300px;
    height: 300px;*/
    padding: 20px 40px;
    border-radius: 6px;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    font-family: sans-serif;
    background: #0c2804;
    color: #ffff00;
}

.start {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    z-index: 200;
    font-family: sans-serif;
    font-size: 1.7rem;
    line-height: 1.5;
    font-weight: 700;
    color: #ffff00;
    text-align: center;
    background: #0c2804;
    border:0;
}

.score {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 200;
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 500;
    color: #fff;
    text-align: center;
    background: #081b03;
    border:0;
}

button {
    cursor: pointer;
    border: 1px solid #ffff00;
    border-radius: 6px;
    background: #000;
    color: #ffff00;
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 10px;
}